@use './../../app';

body {
  font: 100% app.$font-stack;
}

div.vestNav {
  margin: 20px;
  border: solid app.$secondary-color 2px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    border-bottom: 2px solid black;
    flex: 1;
  }
  
  button {
    border: none;
    background-color: app.$secondary-color;
    color: app.$white;
    size: 2em;
    padding: 10px;
    font-weight: 700;
    width: 100%;

    :hover {
      background-color: app.$tertiary-color;
    }

    &.active {
      background-color: app.$primary-color;
    }
  }

}