@use './../../app';

.vestInfo {
  max-height: 90vh;
  overflow: scroll;

  &__name {
    padding-left: 1em;
  }

  &__table {
    margin: auto 0;
    padding: 1em;
    text-align: left;
    width: 100%;
  }

  thead {
    th {
      border-bottom: 2px solid black;
      padding: 0.5em;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: app.$tertiary-color;
    }
    td {
      padding: 0.5em;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
