$font-stack: 'Roboto', sans-serif;
$primary-color: #31a1fb;
$secondary-color: #3d4459;
$tertiary-color: #ebedf3;
$white: #fff;

.App {
  color: $secondary-color;
  margin: auto;
  padding: 0 200px;

  @media (max-width: 970px) {
    padding: 50px;
  }

  @media (max-width: 500px) {
    padding: 0;
    font-size: 0.8rem;
  }
}
